/*criando um template grid*/

* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    


    grid-template-areas:
        "h h h h "
        "a a n n "
        "a a n n "
        "a a n2 n2 "
        "a a n2 n2 "
        "f f f f ";

    grid-template-rows: 10%;
    grid-template-columns: 2fr 2fr 1fr;

    gap: 1rem;
}

.box {
    border: none;
    border-radius: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;

    padding: 10px;

    color: aliceblue;
    font-weight: bold;
}

#container-header {
    grid-area: h;
    background-color: brown;
}

#container-article {
    grid-area: a;
    background-color: yellow;
}

#container-nav {
    grid-area: n;
    background-color: aquamarine;
}

#container-nav2 {
    grid-area: n2;
    background-color: aquamarine;
}


#container-footer {
    grid-area: f;
    background-color: blue;
}

